{% load humanize %}

<div class="message-list" id="message-list">
    {% for message in messages %}
        <div class="message">
            <div class="message-info">
                <span class="message-author">{{ message.author.get_full_name }}</span>
                <span class="message-created">{{ message.created|naturalday }} at {{ message.created|date:'H:i' }}</span>:
            </div>
            <div class="message-content">
                <span class="message-text">{{ message.text|linebreaksbr }}</span>
            </div>
        </div>
    {% endfor %}
</div>

<div class="chat-input">
    <textarea rows="5" placeholder="Write new message here..." id="chat-input-textarea"></textarea>
    <div class="button clickable" id="send-message-button">Send</div>
</div>

<script>
    const createMessage = (author, text, created) => {
        console.log(author, text, created);
        const message = document.createElement('div');
        message.className = 'message';
        {#TODO: Fix linebreaks#}
        message.innerHTML = `<div class="message-info">
                <span class="message-author">${author}</span>
                <span class="message-created">${created}</span>:
            </div>
            <div class="message-content">
                <span class="message-text">${text}</span>
            </div>`;
        return message;
    };
    const textarea = document.getElementById('chat-input-textarea');
    const button = document.getElementById('send-message-button');
    const messageList = document.getElementById('message-list');

    const protocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
    const ws = new WebSocket(protocol + '//' + location.host + '/ws/projects/{{ project_pk }}/chat/');
    ws.onmessage = e => {
        const data = JSON.parse(e.data);
        const message = createMessage(data['author'], data['text'], data['created']);
        messageList.prepend(message);
    };

    button.onclick = e => {
        const data = {
            text: textarea.value
        };
        ws.send(JSON.stringify(data));
        textarea.value = '';
    };
</script>